* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9; /* opcional: cor de fundo clara e neutra */
  color: #333; /* opcional: cor de texto padrão */
}
